<div class="about">
  <div class="row">
    <div class="col-sm-6">
      <div class="card m-4">
        <div class="card-body text-left">
          <h1 class="card-title text-center font-weight-bold">ABOUT</h1>
          <p>
            Setiap hari semua individu, lembaga, dan perusahaan akan berhadapan
            dengan pengambilan keputusan. Pengambilan keputusan yang baik tidak
            mudah, memerlukan dukungan informasi, kemampuan analisis,
            pengalaman, dan kebijakan (wisdom).
          </p>
          <p>
            Misi i2 adalah menjadi pusat data yang terlengkap, didukung
            teknologi yang unggul dan kemampuan pakar yang kompeten. i2 menjadi
            partner intelijen strategis untuk lembaga, perusahaan, dan
            individual, memberikan akses ke sumber data, menyediakan laporan dan
            prediksi, mendukung pengambilan keputusan dan perencanaan yang
            berdasar data aktual dan lengkap.
          </p>
          <p>
            Intelijen adalah kemampuan mengumpulkan data, mengolah, menganalisa,
            menyajikan informasi untuk pengambilan keputusan (collect, process,
            analyze, decision), yang sangat vital untuk pemerintah maupun
            bisnis. Kemampuan intelijen lengkap akan sangat mahal dan sulit
            untuk dibangun sendiri-sendiri, mulai dari infrastruktur, data,
            software, brainware, sampai network. Proses intelijen juga
            memerlukan aspek operasional, pemeliharaan data, pembinaan jaringan,
            engagement expert yang terus-menerus dilakukan.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card m-4">
        <div class="card-body">
          <h1 class="font-weight-bold">VISI</h1>
          <p>
            Menjadi perusahaan terdepan di bidang intelijen media, analisis
            data, dan kajian strategis untuk pengambilan keputusan.
          </p>
        </div>
      </div>
      <div class="card m-4">
        <div class="card-body">
          <h1 class="font-weight-bold">MISI</h1>
          <p>
            Membantu client dalam menangani issue-issue yang kompleks dengan
            menggunakan dukungan data yang komprehensif dalam
            <strong>pengambilan keputusan.</strong>
          </p>
          <p>
            <strong>Dukungan data</strong> meliputi osint (open source
            intelligence) dari media, dataint (data intelligence) dari data
            statistik, dan humint (human intelligence) dari laporan lapangan.
          </p>
          <p>
            Menggunakan <strong>perangkat analisis</strong> lengkap meliputi
            analisis statistik, semantik, visualisasi, simulasi dan prediksi.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
