<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <a routerLink="/about" ><h3 class="menu"><span><i class="bi bi-house-fill"></i></span> About</h3></a>
   <a routerLink="/profile"> <h3 class=""><span><i class="bi bi-file-person"></i></span> Profile</h3></a>
  </mat-drawer>
  <div class="header pt-3 ">
    <div class="row">
      <div class="col-2">
        <nav class="navbar navbar-light">
          <button
            class="navbar-toggler btn"
            type="button"
            mat-button
            (click)="drawer.toggle()"
            data-toggle="collapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
      <div class="col-10">
        <h1 class="text-right font-weight-bold pt-2 pr-3">
          <span
            ><img src="../assets/images/i2.png" class="icon" alt=""
          /></span>
          Indonesia Indocator
        </h1>
      </div>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

