<div class="container">
  <h1 class="font-weight-bold text-center font py-5">PROFILE</h1>
  <div class="row">
    <div class="col-6 mb-5">
      <img
        src="../../assets/images/pic.jpg"
        class="rounded-circle pic mx-auto d-block"
      />
    </div>
    <div class="col-6 pt-4">
      <h2 class="text-center font-weight-bold">Ari Dwi Sukmawan</h2>
      <h2 class="text-center font-weight-bold">22 Tahun</h2>
      <h2 class="text-center font-weight-bold">Balikpapan</h2>
      <h2 class="text-center font-weight-bold">Islam</h2>
    </div>
    <div class="col">
      <div class="card-deck">
        <div class="card">
          <img
            src="../../assets/images/pos.png"
            class="card-img-top mt-3"
            alt="..."
          />
          <div class="card-body">
            <h3 class="font-weight-bold">POS-App</h3>
            <p class="card-text">
              Merupakan aplikasi untuk kasir restoran yang memliki fitur tambah
              item menu, menyimpan histori transaksi, dan menghitung total menu
              ketika di checkout. Dibangun mengunakan framework vue js dan node
              js.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="../../assets/images/wallet.PNG"
            class="card-img-top mt-3"
            alt="..."
          />
          <div class="card-body">
            <h3 class="font-weight-bold">AFA Wallet</h3>
            <p class="card-text">
              Merupakan aplikasi penyimpanan uang digital mempunyai fitur
              transfer kepada penguna lain dan merekap semua histori transaksi
              yang terjadi. Dibangun mengunakan framework vue js dan node js,
              serta merupakan hasil kerja tim dengan posisi frontend.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="../../assets/images/coffe.PNG"
            class="card-img-top mt-3"
            alt="..."
          />
          <div class="card-body">
            <h3 class="font-weight-bold">Coffee Shop</h3>
            <p class="card-text">
              Merupakan aplikasi untuk penjualan coffee shop yang memiliki fitur
              login, menu item, checkout item dan histori. Di bangun menggunakan
              framework Vue js dan node js, serta merupakan hasil kerja tim
              dengan posisi backend.
            </p>
          </div>
        </div>
        <div class="card">
          <img
            src="../../assets/images/chat.PNG"
            class="card-img-top mt-3"
            alt="..."
          />
          <div class="card-body">
            <h3 class="font-weight-bold">Chat Apps</h3>
            <p class="card-text">
              Merupakan aplikasi realtime chat yang memudahkan pengguna untuk
              berkomunikasi secara langsung dan memiliki fitur profile serta
              dapat melihat profile teman. Di bangun menggunakan socket io
              dengan framework vue js dan node js serta mengunakan map.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
